In [4]:
#functions
def greet(name):
  print(f"Hello,{name}!")

greet("Alice")
greet("David")

Hello,Alice!
Hello,David!

In [5]:
#function development
def square (number):
  return number*number

result = square(5)
print(f"the square of 5 is {result}")

the square of 5 is 25

In [8]:
#function return Vs print
#function with return
def add(a,b):
  return a+b

result= add(3,4)
print(result)

#function with print
def display_sum(a,b):
  print(f"the addition is:{a+b}")

display_sum(3,4)

7
the addition is:7

In [11]:
#function- multiple task
def process_temperature(temp):
    if temp < -273.15:
        return "Invalid temperature! Below absolute zero"
    elif temp >100:
        return "Temperature exceeds boiling point!"
    else:
        return f"Temperature in Fahrenheit:{temp * 9/5 + 32}"

print(process_temperature(-300))
print(process_temperature(50))

Invalid temperature! Below absolute zero
Temperature in Fahrenheit:122.0

In [12]:
#function arguments
def greet_person(name,age):
  print(f"Hello,{name}!You are {age} years old.")

greet_person("Alice",30)
greet_person("Bob",25)

Hello,Alice!You are 30 years old.
Hello,Bob!You are 25 years old.

In [14]:
#Global variable
counter = 0
def increment():
  global counter
  counter +=1
  print(f"Counter increment to{counter}")

def reset():
  global counter
  counter =0
  print("Counter reset to 0")

increment()
increment()
reset()

Counter increment to1
Counter increment to2
Counter reset to 0

In [15]:
#local variable
def calculate_area(radius):
  pi= 3.14159
  return pi* radius ** 2

area = calculate_area(5)
print(f"The area is:{area}")

The area is:78.53975

In [19]:
#class
class Car:
  brand = "Toyota"
  wheels=4

  def start_engine(self):
    return "The engine has started."

In [20]:
#Object
my_car = Car()
print(my_car.brand)
print(my_car.start_engine())

Toyota
The engine has started.

In [27]:
#class and object
class Calculator:
  def __init__(self,num1,num2):
    self.num1=num1
    self.num2=num2

  def add(self):
    return self.num1 + self.num2


cal = Calculator(5,3)
print(cal.add())

8