In [1]:
# Dictionary
student = {"name": "Alice", "age": 20, "grade": "A", "city": "New York"}

print(student["name"])
print(student["grade"])

Alice
A

In [2]:
student["email"] = "alice@example.com"
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A',
 'city': 'New York',
 'email': 'alice@example.com'}

In [3]:
del student["city"]

student

{'name': 'Alice', 'age': 20, 'grade': 'A', 'email': 'alice@example.com'}

In [4]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'grade', 'email'])
dict_values(['Alice', 20, 'A', 'alice@example.com'])
dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A'), ('email', 'alice@example.com')])