In [2]:
# Problem 1: Convert a string representing a number into an integer
string_number = "25"
# Expected output: 25 as an integer
print(string_number,"as an integer")

25 as an integer

In [3]:
type(string_number)

str

In [4]:
int_number = int(string_number)
print(int_number, type(int_number))

25 <class 'int'>

In [5]:
# Problem 2: Convert a float number into a string
float_number = 3.14159
# Expected output: "3.14159" as a string
print(float_number,"as a string")

3.14159 as a string

In [6]:
str_pi = str(float_number)
print(str_pi, type(str_pi))

3.14159 <class 'str'>

In [10]:
# Problem 3: Convert a boolean value into an integer
is_active = True
# Expected output: 1 (True -> 1, False -> 0)
result = int(is_active)
print(result)

1

In [11]:
type(is_active)

bool

In [12]:
str_bool = str(is_active)
print(str_bool, type(str_bool))

True <class 'str'>